main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main h1 {
  font-family: "Courier New", Courier, monospace;
  padding: 3rem;
  border: 3px solid #cce3de;
  border-radius: 40%;
  margin-bottom: 3rem;
}

main h2 {
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1rem;
}

main #buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

main #buttons button {
  outline: none;
  margin: 0 2rem;
  padding: 1.5rem;
  background-color: #cce3de;
  border: none;
  border-radius: 20%;
  color: #3b3b3b;
  font-size: 20px;
  margin-bottom: 2rem;
  overflow: hidden;
  transform: translateY(0);
}

main #buttons button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}

main #timerInverted {
  margin-bottom: 2rem;
}

main #timerInverted input {
  border: 1px solid #ccc;
  color: #888;
  margin: 0.5em;
  vertical-align: middle;
  outline: 0;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-family: sans-serif;
}
